@media (max-width: 1000px) { 

    body{
        height: 100%;
    }

    .contaner{
        width: 100%;
    }

    .title-date{
        padding-top: 30px;
        font-size: 75px;
    }

    .btn{
        font-size: 65px;
        border-radius: 10px;
        box-shadow: 5px 5px rgb(89, 99, 109);
        margin-top: 60px;
    }

    /* キャラクターを再配置 */
    .carpet{
        position: absolute;
        top: 300px;
        left: 75px;
        height: 250px;
    }

    .smee{
        position: absolute;
        top: 380px;
        left: 280px;
        height: 280px;
    }

    .melida{
        position: absolute;
        top: 400px;
        right: 280px;
        height: 280px;
    }

    .ariel{
        position: absolute;
        top: 260px;
        right:70px;
        height: 290px;
    }
    
    .alice{
        position: absolute;
        top: 580px;
        left: 40px;
        height: 290px;
    }

    .chipndale{
        position: absolute;
        top: 690px;
        left: 330px;
        height: 120px;
    }
    
    .chindlella{
        position: absolute;
        top: 680px;
        right: 290px;
        height: 340px;
    }
    
    .roger{
        position: absolute;
        top: 560px;
        right: 60px;
        height: 350px;
    }
    
    .bell{
        position: absolute;
        top: 880px;
        left: 40px;
        height: 310px;
    }
    
    .goofy{
        position: absolute;
        top: 810px;
        left: 200px;
        height: 360px;
    }
    
    .donald{
        position: absolute;
        top: 960px;
        right: 380px;
        height: 300px;
    }
    
    .dasy{
        position: absolute;
        top: 880px;
        right: 100px;
        height: 300px;
    }

    .minnie{
        position: absolute;
        top: 1120px;
        left: 130px;
        height: 370px;
    }
    
    .pluto{
        position: absolute;
        top: 1320px;
        left: 350px;
        height: 250px;
    }
    
    .mickey{
        position: absolute;
        top: 1120px;
        right: 150px;
        height: 370px;
    }
}
