body {  
    font-family: "M PLUS Rounded 1c";
    width:100%;
    margin: 0;
    color: darkslategrey;
}

.contaner {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    text-align: center;
}

.title{
    padding-top: 30px;
}

.btn{
    font-size: large;
    background-color: white;
    border: 2px solid slategray;
    margin:20px 0 5px 0;
    box-shadow: 3px 3px rgb(89, 99, 109);
    
}

.push-count{
    padding-top: 20px;
    font-size: 30px;
}

.character-firstline{
    padding:0 10px;
    display: none;
}

.character-secondline{
    padding:0 10px;
    display: none;
}

/* キャラクター同士の間隔 */
.mickey, .minnie{
    margin-top: 60px;
}

.donald, .dasy{
    margin-top: 50px;
} 

.goofy, .roger{
    margin-top: 30px;
}

.aliel{
    margin-bottom: 60px;
    margin-left: 50px;
}

.pluto{
    margin-bottom: 60px;
}

.chipndale{
    margin-bottom: 100px;
}
